.tables {
	max-width: 90rem;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	gap: 1rem;
	stroke: black;
}

.tables > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tables > .invoices-list {
	flex: 1 1 0%;
}

.invoices-list tbody tr:hover, .selected-row {
	background-color: var(--dark-primary-clr);
	color: var(--secondary-clr);
	stroke: var(--secondary-clr);
} 

.tables > .invoice {
	flex: 1 1 100%;
}

.invoice tr:nth-child(even){
	background-color: var(--gray-400);
}

.invoice table {
	width: 100%;
}

.invoice h2 {
	white-space: nowrap;
}

.invoice table td:not(.name, .quantity) {
	width: 4%;
  white-space: nowrap;
}

.invoice table td.quantity {
	width: 1rem;
}

table tr td:first-child, td:last-child {
	max-width: 3rem;
	text-align: center;
}

table td {
	padding: .25rem;
	white-space: nowrap;
}

.green-box {
	min-width: 100%;
	background-color: var(--primary-clr);
	padding: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5rem;
	gap: 0.5rem;
	border-radius: .75rem;
	flex-wrap: wrap;
}

.green-box.select-date {
	min-width: 0;
}

.green-box .datalist-input {
	flex: 1;
}

.green-box input, select {
	border-radius: 0.5rem;
	border: 3px solid var(--dark-primary-clr);
	padding: .1rem .25rem;
}

.green-box input.barcode {
	max-width: 8rem;
}

.contextMenu {
	display: flex;
  flex-direction: column;
	border-radius: .5rem;
	border: 2px solid var(--gray-800);
}

.contextMenu > * {
	text-align: left;
	padding: .5rem;
	cursor: pointer;
	border: none;
	background-color: var( --gray-400);
	border-bottom: 2px solid var(--gray-800);
}

.contextMenu > button:last-child {
	border-radius: 0 0 .5rem .5rem;
}

.contextMenu > button:first-child {
	border-radius: .5rem .5rem 0 0;
}

.contextMenu > button:last-child:hover {
	background-color: var(--red-400);
}

.contextMenu > button:hover {
	background-color: var(--dark-primary-clr);
	color: var(--secondary-clr);
}

@media screen and (max-width: 60rem) {
	.tables {
		flex-direction: column;
	}
	.green-box {
		min-width: 0;
	}
}

@media screen and (max-width: 40rem) {
	.tables {
		padding: 1rem;
	}
	.tables table, h2 {
		align-self: start;
	}	
}

/* .green-box {
	background-color: var(--primary-clr);
	padding: .75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: .75rem;
	flex-wrap: wrap;
}

.green-box input, select {
	border-radius: 0.5rem;
	border: 3px solid var(--dark-primary-clr);
	padding: .1rem .25rem;
}

.green-box > input:not([type=date]), select  {
	max-width: 6rem;
}

.green-box > input[type=number] {
	max-width: 4rem;
}

.green-box > input[type=date] {
	max-width: 7.5rem;
}



// Chrome, Safari, Edge, Opera 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox 
input[type=number] {
  -moz-appearance: textfield;
}

table tr td:first-child, td:last-child {
	max-width: 2rem;
	text-align: center;
}
.tables {
	padding: 2rem;
	max-width: 90rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.table-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.table-div table {
	 width: 100%; 
}

.right-top {
	position: absolute;
	top: 1rem;
	right: 2rem;
}




@media screen and (max-width: 30rem) {
	.green-box {
		flex-direction: column;

	}
	.green-box > input, select {
		max-width: 100%;
	}
	.table-div {
		align-items: center;
	}
}
	

 */
