/* Global styling */

* {
	color: inherit;
	stroke: inherit;
}

body {
	font-family: var(--font-family);
}

.datalist-input {
	min-width: 10rem;
}

/* Small number type inputs */
input[type=number] {
	max-width: 4rem;
}

select, input[type=date] {
	max-width: 7.5rem;
}

/* Same for tables */
td:has(input[type=number]) {
	max-width: 4rem;
}
td input[type=number] {
	max-width: 100%;
}
table .datalist-input {
	width: 100%;
}

td input {
	border: none;
	width: 100%;
	background-color: inherit;
}

table th {
	background-color: var(--primary-clr);
	color: var(--secondary-clr);
	font-weight: bold;
	padding: .5rem 0;
	font-size: 1.25rem;
}

.right-align {
	text-align: right;
}


/* Utils */

.clickable, button {
	cursor: pointer;
}

.primary-button {
	background-color: var(--dark-primary-clr);
	color: var(--secondary-clr);
	border: none;
	padding: .25rem .5rem;
	font-size: 1.25rem;
	border-radius: .5rem;
	text-align: center;
	cursor: pointer;
}

.primary-button:hover {
	background-color: var(--primary-clr);
}

.primary-button.red {
	background-color: var(--red-400);
}

.primary-button.red:hover {
	background-color: var(--red-600);
}


/* Scrollbar  */

body::-webkit-scrollbar {
	width: .75rem;
	height: .75rem;
}

body::-webkit-scrollbar-track {
	background: var(--gray-400);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary-clr) ;
	border-radius: .5rem;
}


/* Max  */

.center-container {
	min-height: 10rem;
	max-width: 30rem;
	padding: 1rem;

	border: 1px solid var(--gray-800);
	background-color: var(--gray-400);
	border-radius: .5rem;

	display: flex;	
	align-items: center;
	justify-content: center;
	gap: .5rem;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.error {
	border: 3px solid var(--red-600);
}

.error button {
	background-color: var(--gray-600);
}

.error button:hover {
	background-color: var(--gray-800);
} 

/* * {
	font-family: var(--font-family);
}

body::-webkit-scrollbar {
	width: 1rem;
}

body::-webkit-scrollbar-track {
	background: var(--gray-400);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary-clr) ;
	border-radius: .5rem;
}



table {
	border-collapse: collapse;
	text-overflow: ellipsis;
	stroke: black;
	font-weight: 500;
}

table th {
	background-color: var(--primary-clr);
	color: var(--secondary-clr);
	font-weight: bold;
	padding: .5rem 0;
	font-size: 1.25rem;
}

table input {
	border: none;
	width: 100%;
	background-color: inherit;
	color: inherit;
	font-family: inherit;
}

table td {
	padding: .5rem;
	width: 6rem;
	box-sizing: content-box;
}

table tbody td {
	border: 1px solid #ddd;
}

table .right-align {
	text-align: right;
}





*/
